@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@keyframes ezmi {
  0% {
    opacity: 100%;
  }

  25% {
    opacity: 75%;
  }

  50% {
    opacity: 25%;
  }

  75% {
    opacity: 10%;
  }

  100% {
    opacity: 80%;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "ＭＳ Ｐゴシック";
  color: #f0f0f0;
  background-color: #000000;
  user-select: none;
}

#fps {
  position: fixed;
  top: 10px;
  left: 10px;
  font-family: 'Handlee', monospace;
  font-size: 20px;
  color: #ffff00;
  font-weight: 900;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.title-container img {
  animation: rainbow 10s ease-in infinite;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
}

#killfeed {
  position: fixed;
  top: 30%;
  left: 10px;
  background-color: rgba(0, 0, 0);
  border: 2px solid #191919;
  border-radius: 7px;
  padding: 5px 15px;
  font-family: 'Handlee';
  font-size: 20px;
  font-weight: 900;
}

#killfeed p {
  margin: 0;
  text-align: left;
  color: #ffff00;
}

.title {
  text-align: center;
  font-size: 100px;
  margin: 20px 0;
  color: #ffffff;
  text-shadow: #646464 5px 5px;
  -webkit-text-stroke: 2px #a1a1a1;
}

.title2 {
  text-align: center;
  font-family: 'Fira Mono', 'Source Code Pro', monospace;
  font-size: 15px;
  margin: 20px 0;
  font-weight: 500;
  color: #b8b8b8;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}

.container2 {
  background-color: #000000;
  padding: 10px;
  margin: 10px;
  max-width: 250px;
  border: 2px solid #707070;
  border-radius: 2px;
}

.profile-pic {
  width: 100%;
  border: 2px solid #707070;
  pointer-events: none;
  user-select: none;
}

.container3 {
  flex: 1 1 400px;
  margin: 10px;
  max-width: 450px;
  border-radius: 2px;
}

.faszszopas img {
  width: 100px;
  height: 100px;
  user-select: none;
}

.faszszopas h2 {
  font-size: 30px;
}

.faszszopas {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 25px;
  width: fit-content;
}

.category {
  background-color: #000000;
  padding: 20px;
  margin: 10px 0;
  border-left: 5px solid #ffcc00;
  border: 2px solid #707070;
  border-radius: 2px;
}

.category h2 {
  color: #ffcc00;
  margin-bottom: 10px;
}

.highlight2 {
  color: #33c9ff;
}

.highlight3 {
  color: #3357ff;
}

a {
  color: #b9b9b9;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 30px;
  z-index: 1000;
  cursor: default;
  transition: opacity 0.5s ease;
  opacity: 1;
  transition: 0.5s;
}

.overlay.fade-out {
  opacity: 0;
  pointer-events: none;
}

body.no-scroll {
  overflow: hidden;
}

.overlay p {
    text-align: center;
    font-size: 20px;
    font-family: 'Fira Mono', 'Source Code Pro', monospace;
    font-weight: 200;
}

.overlay:hover {
    letter-spacing: 4px;
}

.controls {
  display: flex;
  gap: 20px;
  position: fixed;
  width: fit-content;
  height: fit-content;
  right: 0;
  bottom: 0;
  padding: 1rem;
  opacity: .3;
}

.control input[type="checkbox"] {
  display: none;
}

.control label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f77;
  transition: border-color 0.3s;
  position: relative;
}

.control label i {
  font-size: 24px;
  transition: all 0.3s;
  color: #f77;
}

.control input[type="checkbox"]:checked+label {
  border-color: #fff;
  color: #fff;
}

.control input[type="checkbox"]:checked+label i {
  color: #fff;
}

.control input[type="checkbox"]:disabled+label {
  border-color: #fff;
}


div#oneko {
  animation: rainbow 2s ease-in infinite;
  z-index: 1;
}

@keyframes rainbow {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.rain-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -98;
}

.raindrop {
  position: absolute;
  width: 2px;
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50% 50% 0 0;
  transform: rotate(0deg);
  animation: fall linear infinite;
  opacity: 0.7;
}

@keyframes fall {
  0% {
    transform: translateY(-100vh);
    opacity: 0.7;
  }

  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.splash {
  position: absolute;
  width: 5px;
  height: 2px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  animation: splash-animation 0.3s ease-out;
  opacity: 0;
}

@keyframes splash-animation {
  0% {
    transform: scale(0.1);
    opacity: 0.9;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
