.title, .cigany, .fos {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.show-content .title,
.show-content .cigany,
.show-content .fos {
    opacity: 1;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    justify-content: flex-start;
}

a {
    text-decoration: none;
    color: white;
    animation: niggaballs .5s linear infinite;
}

@keyframes niggaballs {
    0% { color: #f65555; }
    25% { color: #a6f655; }
    50% { color: #55f6f6; }
    75% { color: #a655f6; }
    100% { color: #f65555; }
}

img {
    border-radius: 50%;
}

.title {
    display: flex;
    align-items: center;
}

.title img {
    margin: 0 10px;
    z-index: 2;
}

.fos {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-family: Source Code Pro, monospace;
    font-size: 15px;
    color: #d2d2d2;
    z-index: 2;
}

h2 {
    font-size: 27px;
    margin-top: 25px;
    font-family: Montserrat;
    font-weight: 400;
    color: rgb(205, 205, 205);
    z-index: 2;
}

.cigany {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#typed {
    text-align: center;
    font-family: Source Code Pro, monospace;
    font-size: 16px;
    color: #cdcdcd;
    z-index: 2;
}

@keyframes popup {
    0% { transform: scale(0); opacity: 0; }
    80% { transform: scale(1.1); opacity: 1; }
    100% { transform: scale(1); }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.462);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 25px;
    z-index: 3;
    user-select: none;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.overlay.fade-out {
    opacity: 0;
    pointer-events: none;
}

body.no-scroll {
    overflow: hidden;
}

.overlay h1 {
    background-color: #000;
    text-align: center;
    font-size: 17px;
    font-family: Source Code Pro, monospace;
    animation: popup 0.3s ease-in-out;
    font-weight: 400;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.rain {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -99;
}

.rain.back-row {
    display: none;
    z-index: -100;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
}

.drop {
    position: absolute;
    width: 15px;
    height: 150px;
    pointer-events: none;
    animation: drop 0.5s linear infinite;
}

@keyframes drop {
    0% {
        transform: translateY(0vh);
    }
    75% {
        transform: translateY(90vh);
    }
    100% {
        transform: translateY(90vh);
    }
}

.stem {
    width: 1px;
    height: 100%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
    animation: stem 0.8s linear infinite;
}

@keyframes stem {
    0% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.splat {
    width: 15px;
    height: 10px;
    border-top: 2px dotted rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    animation: splat 0.5s linear infinite;
}

@keyframes splat {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    80% {
        opacity: 1;
        transform: scale(0);
    }
    90% {
        opacity: 0.5;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

#overlay.hidden {
    display: none;
}
